.sidebarList {
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.chapterItem {
  cursor: pointer;
  user-select: none;
}

.mainChapterItem {
  list-style-type: none;
  padding-left: 0;
} 